<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    
</head>
<body>
    <main class="contenedor">
    <header>
      <nav class="nav"><div id="header"><img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo"> 
<div id="buscar"><input placeholder="Buscar productos, marcas" type="text"> <i class="fas fa-search search"></i></div>
</div>
<p class="cuotas"><i class="fas fa-hand-holding-usd"> </i>Comprá en cuotas y sin tarjeta de crédito</p></nav>
<nav>
    <div class="lista">
    <ul id="lista1">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
    </ul>
    <ul id="lista2">
       <li><a href="/register.html">Crea Tu Cuenta</a></li><i class="far fa-address-card"></i>  
        <li><a href="/login.html">Ingresa</a></li><i class="fas fa-sign-in-alt"></i>  
        <li><a href="#">Mis Compras</a></li><i class="fas fa-shopping-basket"></i>  
    </ul>
    </div>
    <div class="burgerMenu">
      <i class="fas fa-bars"></i></div>
    <img class="banner" src="/images/img-home-banner.jpg" alt="Banner">
</nav>
    </header>
<main>
    <section class="section">
    <h1 class="titulo">Basado en tu última visita</h1>
    <article class="producto">
  <article class="articulos">
      <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
    <div class="datos">
        <div class="circulo"><i class="fas fa-truck camion"></i></div>
    <div class="numeros"><h4 class="precios">$6.770</h4>
    <h4 class="descuentos">40% off</h4></div>
    <h2 class="descripciones">Cafetera Moulinex</h2>
    </div>
  </article>
<article class="articulos">
    <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
    <div class="datos">
    <div class="circulo"><i class="fas fa-truck camion"></i></div>
    <div class="numeros"><h4 class="precios">$230.000</h4>
    <h4 class="descuentos">20% off</h4></div>
    <h2 class="descripciones">MacBook Pro 2019</h2>
</div>
</article>
<article class="articulos"><img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
    <div class="datos">
    <div class="circulo"><i class="fas fa-truck camion"></i></div>
    <div class="numeros"><h4 class="precios">$70.500</h4>
    <h4 class="descuentos">10% off</h4></div>
    <h2 class="descripciones">Samsung Galaxy S10</h2></div>
</article>
<article class="articulos"><img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="Smart TV">
    <div class="datos">
    <div class="circulo"><i class="fas fa-truck camion"></i></div>
    <div class="numeros"><h4 class="precios">$23.200</h4>
    <h4 class="descuentos">5% off</h4></div>
    <h2 class="descripciones">Smart TV Samsung 43"</h2></div>
</article>
</article>
</section>
<section class="section">
<h1 class="titulo">Ofertas</h1>
<article class="producto">
<article class="articulos"><img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
    <div class="datos">
    <div class="circulo"><i class="fas fa-truck camion"></i></div>
    <div class="numeros"><h4 class="precios">$6.770</h4>
    <h4 class="descuentos">40% off</h4></div>
    <h2 class="descripciones">Cafetera Moulinex</h2></div>
</article>
<article class="articulos"><img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
    <div class="datos">
    <div class="circulo"><i class="fas fa-truck camion"></i></div>
    <div class="numeros"><h4 class="precios">$230.000</h4>
    <h4 class="descuentos">20% off</h4></div>
    <h2 class="descripciones">MacBook Pro 2019</h2></div>
</article>
<article class="articulos"><img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
    <div class="datos">
    <div class="circulo"><i class="fas fa-truck camion"></i></div>
    <div class="numeros"><h4 class="precios">$70.500</h4>
    <h4 class="descuentos">10% off</h4></div>
    <h2 class="descripciones">Samsung Galaxy S10</h2></div>
</article>
<article class="articulos"><img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="Smart TV">
    <div class="datos">
    <div class="circulo"><i class="fas fa-truck camion"></i></div>
    <div class="numeros"><h4 class="precios">$23.200</h4>
    <h4 class="descuentos">5% off</h4></div>
    <h2 class="descripciones">Smart TV Samsung 43"</h2></div>
</article>
</article>
</section>
    </main>
    <footer class="footer">
        <section>
            <div class="icon"><i class="fas fa-credit-card"></i></div>
            <h2 class="titulo1">Pagá con tarjeta o en efectivo</h2>
            <p class="legal">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
                 en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <div class="icon"><i class="fas fa-gift"></i></div>
            <h2 class="titulo1">Envío gratis desde $ 2.500</h2>
            <p class="legal">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de 
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <div class="icon"><i class="fas fa-user-shield"></i></div>
            <h2 class="titulo1">Seguridad de principio a fin</h2>
            <p class="legal">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>

    </footer>
       <div class="copyright" >
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </main>
</body>
</html>